In [6]:
import ouroboros as ob

# Sample dataset of US National Highway System
# https://hepgis-usdot.hub.arcgis.com/datasets/dce9f09392eb474c8ad8e6a78416279b_0

gdb = ob.GeoDatabase("NHS.gdb")
gdb.feature_classes

['National_Highway_System__NHS_']

In [7]:
fc1 = gdb['National_Highway_System__NHS_']
fc2 = gdb[0]

In [8]:
fc1[100]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
100,2025.03.27,2020.0,15.0,1.0,19,0.0,99.49,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."

In [9]:
fc2[100]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
100,2025.03.27,2020.0,15.0,1.0,19,0.0,99.49,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."