# Basic Usage

In [1]:
import ouroboros as ob

In [2]:
# large dataset of US National Highway System roads
# https://hepgis-usdot.hub.arcgis.com/datasets/dce9f09392eb474c8ad8e6a78416279b_0
gdb_file = "NHS.gdb"

In [3]:
# Get detailed info before loading
ob.get_info(gdb_file)

{'FeatureClass': {'National_Highway_System__NHS_': {'DatasetType': 'esriDTFeatureClass',
   'CatalogPath': '\\National_Highway_System__NHS_',
   'Name': 'National_Highway_System__NHS_',
   'ChildrenExpanded': 'false',
   'DSID': '3',
   'Versioned': 'false',
   'CanVersion': 'false',
   'ConfigurationKeyword': 'None',
   'RequiredGeodatabaseClientVersion': '10.0',
   'HasOID': 'true',
   'OIDFieldName': 'OBJECTID',
   'GPFieldInfoExs': {'GPFieldInfoEx': {'Name': 'SHAPE_Length',
     'FieldType': 'esriFieldTypeDouble',
     'IsNullable': 'true',
     'Required': 'true',
     'Editable': 'false'}},
   'CLSID': '{52353152-891A-11D0-BEC6-00805F7C4268}',
   'EXTCLSID': 'None',
   'RelationshipClassNames': 'None',
   'AliasName': 'None',
   'ModelName': 'None',
   'HasGlobalID': 'false',
   'GlobalIDFieldName': 'None',
   'RasterFieldName': 'None',
   'ExtensionProperties': {'PropertyArray': 'None'},
   'ControllerMemberships': 'None',
   'EditorTrackingEnabled': 'false',
   'CreatorFieldName': 'None',
   'CreatedAtFieldName': 'None',
   'EditorFieldName': 'None',
   'EditedAtFieldName': 'None',
   'IsTimeInUTC': 'true',
   'FeatureType': 'esriFTSimple',
   'ShapeType': 'esriGeometryPolyline',
   'ShapeFieldName': 'SHAPE',
   'HasM': 'false',
   'HasZ': 'false',
   'HasSpatialIndex': 'true',
   'AreaFieldName': 'None',
   'LengthFieldName': 'SHAPE_Length',
   'Extent': 'None',
   'SpatialReference': {'WKT': 'PROJCS["WGS_1984_Web_Mercator_Auxiliary_Sphere",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]],PROJECTION["Mercator_Auxiliary_Sphere"],PARAMETER["False_Easting",0.0],PARAMETER["False_Northing",0.0],PARAMETER["Central_Meridian",0.0],PARAMETER["Standard_Parallel_1",0.0],PARAMETER["Auxiliary_Sphere_Type",0.0],UNIT["Meter",1.0],AUTHORITY["EPSG",3857]]',
    'XOrigin': '-20037700',
    'YOrigin': '-30241100',
    'XYScale': '10000',
    'ZOrigin': '-100000',
    'ZScale': '10000',
    'MOrigin': '-100000',
    'MScale': '10000',
    'XYTolerance': '0.001',
    'ZTolerance': '0.001',
    'MTolerance': '0.001',
    'HighPrecision': 'true',
    'WKID': '102100',
    'LatestWKID': '3857'},
   'ChangeTracked': 'false',
   'FieldFilteringEnabled': 'false',
   'FilteredFieldNames': 'None',
   'ReplicaTracked': 'false'}}}

In [4]:
# Set up the ouroboros object
gdb = ob.GeoDatabase(gdb_file)
gdb.feature_classes()

(('National_Highway_System__NHS_',
  <ouroboros.ouroboros.FeatureClass at 0x26cf73d3e00>),)

In [5]:
# get a feature class from a geodatabase by name or by index
fc = gdb["National_Highway_System__NHS_"]
print(f"Feature class contains {len(fc)} rows")

fc = gdb[0]
print(f"Feature class contains {len(fc)} rows")

Feature class contains 491781 rows
Feature class contains 491781 rows

In [6]:
# access a feature class directly
fc = ob.FeatureClass("NHS.gdb/National_Highway_System__NHS_")
print(f"Feature class contains {len(fc)} rows")

Feature class contains 491781 rows

In [7]:
# access a row by index
fc[100]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
100,2025.03.27,2020.0,15.0,1.0,19,0.0,99.49,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."

In [8]:
# access multiple rows with slices
fc[100:105]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
100,2025.03.27,2020.0,15.0,1.0,19,0.00,99.49,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."
101,2025.03.27,2020.0,15.0,1.0,11,109.22,121.98,S11,S,11,...,43.0,143.0,16415.0,2039-12-31 00:00:00+00:00,1.669810,NaT,,HI_NHS_2021,2864.952720,"MULTILINESTRING ((-17356980.144 2216289.682, -..."
102,2025.03.27,2020.0,15.0,1.0,11,109.22,121.98,S11,S,11,...,135.0,510.0,14235.0,2039-12-31 00:00:00+00:00,0.799934,NaT,,HI_NHS_2021,1367.716107,"MULTILINESTRING ((-17355662.901 2212476.002, -..."
103,2025.03.27,2020.0,15.0,1.0,11,109.22,121.98,S11,S,11,...,104.0,403.0,14106.0,2039-12-31 00:00:00+00:00,1.803699,NaT,,HI_NHS_2021,3096.313308,"MULTILINESTRING ((-17356783.999 2213237.425, -..."
104,2025.03.27,2020.0,15.0,1.0,11,109.22,121.98,S11,S,11,...,261.0,984.0,23853.0,2039-12-31 00:00:00+00:00,1.999768,NaT,,HI_NHS_2021,3431.974770,"MULTILINESTRING ((-17360901.373 2224356.153, -..."

In [9]:
# access multiple rows with a mix of slices and indexes
fc[10, 100:102, 200, 300:302]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
10,2025.03.27,2020.0,15.0,9.0,380,0.96,6.170,S380,S,380,...,131.0,908.0,12226.0,2039-12-31 00:00:00+00:00,4.480081,NaT,,HI_NHS_2021,7741.859188,"MULTILINESTRING ((-17417930.232 2376310.755, -..."
100,2025.03.27,2020.0,15.0,1.0,19,0.00,99.490,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."
101,2025.03.27,2020.0,15.0,1.0,11,109.22,121.980,S11,S,11,...,43.0,143.0,16415.0,2039-12-31 00:00:00+00:00,1.669810,NaT,,HI_NHS_2021,2864.952720,"MULTILINESTRING ((-17356980.144 2216289.682, -..."
200,2025.03.27,2020.0,15.0,3.0,,0.00,0.316,,,,...,52.0,100.0,1638.0,2037-12-01 00:00:00+00:00,0.315845,2021-05-10 00:00:00+00:00,,HI_NHS_2021,547.042710,"MULTILINESTRING ((-17601243.037 2429815.638, -..."
300,2025.03.27,2020.0,15.0,3.0,H-1,0.00,27.160,IH1,I,1,...,1601.0,18373.0,215309.0,2039-12-31 00:00:00+00:00,0.155034,NaT,,HI_NHS_2021,267.935861,"MULTILINESTRING ((-17588118.358 2439459.912, -..."
301,2025.03.27,2020.0,15.0,3.0,H-1,0.00,27.160,IH1,I,1,...,1601.0,18373.0,215309.0,2039-12-31 00:00:00+00:00,0.104974,NaT,,HI_NHS_2021,181.418377,"MULTILINESTRING ((-17588295.244 2439500.204, -..."

In [10]:
# access multiple rows with a list of indexes
fc[100, 200, 300]
fc[[100, 200, 300]]
fc[(100, 200, 300)]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
100,2025.03.27,2020.0,15.0,1.0,19,0.0,99.490,S19,S,19,...,283.0,477.0,12439.0,2039-12-31 00:00:00+00:00,0.080054,NaT,,HI_NHS_2021,137.221299,"MULTILINESTRING ((-17364683.229 2250312.543, -..."
200,2025.03.27,2020.0,15.0,3.0,,0.0,0.316,,,,...,52.0,100.0,1638.0,2037-12-01 00:00:00+00:00,0.315845,2021-05-10 00:00:00+00:00,,HI_NHS_2021,547.042710,"MULTILINESTRING ((-17601243.037 2429815.638, -..."
300,2025.03.27,2020.0,15.0,3.0,H-1,0.0,27.160,IH1,I,1,...,1601.0,18373.0,215309.0,2039-12-31 00:00:00+00:00,0.155034,NaT,,HI_NHS_2021,267.935861,"MULTILINESTRING ((-17588118.358 2439459.912, -..."

In [11]:
# iterate over rows
for row in fc:
    print(row)
    break  # remove this line to print all rows

Pandas(Index=0, VERSION='2025.03.27', YEAR=2020.0, STFIPS=2.0, CTFIPS=290.0, ROUTEID='1260000X000', BEGINPOINT=157.02, ENDPOINT=176.061, SIGN1='S11', SIGNT1='S', SIGNN1='11', LNAME='James Dalton Hwy', NHS=7.0, STATUS=1.0, FACID=' ', CONNID=' ', CONNDES=' ', CONNMILES=0.0, ACLASS='P', FCLASS=3.0, FACILITYT=2.0, THROUGH_LA=2.0, SPEED_LIMI=50.0, OWNERSHIP=1.0, URBANCODE=99999.0, AADT=140.0, AADT_COM=55.0, AADT_SINGL=49.0, FUT_AADT=290.0, FUT_YEAR=Timestamp('2039-12-31 00:00:00+0000', tz='UTC'), MILES=17.912424, UPDATE_DAT=NaT, NHS_ACTION=' ', FILE_NAME='AK_NHS_2021', SHAPE_Length=74037.91898672089, geometry=<MULTILINESTRING ((-16730147.862 10161196.294, -16730142.185 10161213.971, -...>)

In [12]:
# access columns by index
field_name = 'MILES'
column_index = fc.list_fields().index(field_name)
print(f"The field '{field_name}' is at column index {column_index}:")

for row in fc:
    print(row[column_index])
    print(row[30])
    break  # remove this line to print all rows

The field 'MILES' is at column index 30:
17.912424
17.912424

In [13]:
# Set the value of a row's column by name
fc[(0, 'VERSION')] = 'deprecated'
fc[0]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
0,deprecated,2020.0,2.0,290.0,1260000X000,157.02,176.061,S11,S,11,...,55.0,49.0,290.0,2039-12-31 00:00:00+00:00,17.912424,NaT,,AK_NHS_2021,74037.918987,"MULTILINESTRING ((-16730147.862 10161196.294, ..."

In [14]:
# Set the value of a row's column by index
fc[(1, 0)] = 'deprecated'
fc[1]

,VERSION,YEAR,STFIPS,CTFIPS,ROUTEID,BEGINPOINT,ENDPOINT,SIGN1,SIGNT1,SIGNN1,...,AADT_COM,AADT_SINGL,FUT_AADT,FUT_YEAR,MILES,UPDATE_DAT,NHS_ACTION,FILE_NAME,SHAPE_Length,geometry
ObjectID,,,,,,,,,,,,,,,,,,,,,
1,deprecated,2020.0,15.0,7.0,50,0.0,6.69,S50,S,50,...,102.0,981.0,26316.0,2039-12-31 00:00:00+00:00,0.949648,NaT,,HI_NHS_2021,1648.281317,"MULTILINESTRING ((-17742317.33 2508107.342, -1..."

In [15]:
# Save to disk
fc.save(gdb_path="output.gdb", fc_name="NHS_updated", feature_dataset="NHS_Data1",)

fc.save(gdb_path="output.gdb", fc_name="NHS_updated2", feature_dataset=None)

# Check outputs
ob.list_datasets("output.gdb")

{'NHS_Data1': ['NHS_updated'], None: ['NHS_updated2']}